/*Linea superior navbar*/
/* contenedor superior */

.pill-nav{
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter:blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 50px;
    padding: 0.4rem 0.4rem 0.4rem 1.5rem;
    gap:1.5rem;
}

.pill-link{
    color: rgba(255, 255, 255, 0.95); /*opacidad de las letras*/
    text-decoration:none !important;
    font-size: 0.95rem;
    padding: 0.4rem 1.2rem !important;
    border-radius:50px !important;
    background-color: transparent;
    font-weight: 700;/*semi-bold*/
    transition: all 0.2s ease;

}

.pill-link:hover,
.pill-link.active{
    color:#ffffff !important;
    background-color: rgba(255,255,255,0.15);
    transform: translateY(-1px);
}
/* bton de salir*/
.pill-btn{
    background-color: #ffffff;
    color: #008080;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.5rem 1.2rem;
    border-radius: 50px;
    transition: opacity 0.2s ease;

}

.pill-btn:hover{
    opacity: 0.85;
    color: #000000;
}
/* bloque superior */
.header-overlap {
    background: linear-gradient(135deg, #008080 0%, 005a5a 100%)!important;
    padding-bottom: 6rem !important; /* mas espacios para las cards*/
}

.navbar-link-custom{
    color: rgba(255, 255, 255, 0.9) !important;
    font-weight: 500;
    padding: 0.7rem 1.2rem !important;
}

.nav-link-item:hover, .nav-link-item.active{
    color: white !important;
    background: rgba(255,255,255,0.2);
    border: radius 8px;
}

/* Color Teal Principal */
.header-teal {
    background-color: #008080;
    min-height: 280px;
}

/* Navbar con efecto cristal (Tabler style) */
.navbar-custom-blur {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 12px;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

/* Links del menu */
.nav-link-item {
    color: rgba(255, 255, 255, 0.9) !important;
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.nav-link-item:hover, .nav-link-item.active {
    background: rgba(255, 255, 255, 0.25);
    color: white !important;
    border-radius: 8px;
}

.card-modern:hover{
    transform: translateY(-5px);
}

/* Placeholder glow color teal */
.placeholder {
    background-color: #008080;
    opacity: 0.15;
}